librosa
pydub
soundfile

python-dotenv
openai
matplotlib
scipy
numpy
typing-extensions
dataclasses-json

# Web API dependencies
flask
flask-cors
requests
pedalboard
waitress
# Additional dependencies for Phase 1 analysis